*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}
body{
    background-color: #95B3BF !important;
}
#logo-inicio{
    margin-bottom: 20px;
    width: 20%;
    border-radius: 150PX;
}
#txt_rut{
    padding: 15px 15px;
    font-size: 20px;
}
::placeholder{
    
    font-size: 20px;
    
    text-align: left;
}
#btnvalida{
    width: 30%;
    font-size: 20px;
    padding: 10px 5px;
    background-color: #2D4B73;
    color: white;
    border-radius: 5px;
    border: #2D4B73 solid 1px;
    margin-left: 15px;
}
#btnvalida:hover {
    background-color: #BF8D30;
}
#logo-ticket{
    width: 30%;
    border-radius: 170px;
    margin-bottom: 40px;
}

.breadcrumb {
    background-color: rgba(8, 93, 124, 0.479);
    border: 1px solid rgba(0,0,0,.125);
}

#content {
    margin-bottom: 25px;
}

#virtual-keyboard {
    border: 5px #212F3D double;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 25px;
    background-color: #54768e;
    margin: 20px auto;

}

#virtual-keyboard a {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #000000;
    padding: 15px 30px;
    font-size: 40px;
    color:#ffffff;
    text-align: center;
    margin: 20px;
    
}

#virtual-keyboard a:hover {
    text-decoration: none;
    opacity: 0.8;
}
#del{
    font-size: 42px !important;
    padding: 14px 15px !important;

}

@media screen and (max-width:640px){
    #btnvalida{
        width: 40%;
        font-size: 15px;
        padding: 5px 5px;
        margin-top: 20px;
        background-color: #2D4B73;
        color: white;
        border-radius: 5px;
    }
    
}
@media print {
    #ticket{
        font-size: 35px;
        font-weight: bold;
        text-align: center;
        align-items: center;
        margin: 0 auto;
    }
   
    #logo-ticket{
        width: 40%;
        border-radius: 110px;
    }
}    