*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}
body{
    background-color: #95B3BF !important;
}
#logo-inicio{
    margin-bottom: 20px;
    width: 25%;
    border-radius: 150PX;
}
#txt_rut{
    padding: 15px 10px;
    font-size: 20px;
}
::placeholder{
    
    font-size: 20px;
    text-align: left;
}
#btnvalida{
    width: 20%;
    font-size: 20px;
    padding: 10px 10px;
    background-color: #2D4B73;
    color: white;
    border-radius: 5px;
}
#btnvalida:hover {
    background-color: #BF8D30;
}
#logo-ticket{
    width: 20%;
    border-radius: 110px;
}

#oculto-impresion{
    font-size: 20px;
    padding: 10px 10px;
    margin: 15px auto;
    border-radius: 5px;
    background-color: #2D4B73;
    color: white;
}
#oculto-impresion:hover{
    background-color: #BF8D30;
}

.breadcrumb {
    background-color: rgba(8, 93, 124, 0.479);
    border: 1px solid rgba(0,0,0,.125);
}

#content {
    margin-bottom: 25px;
}

#virtual-keyboard {
    border: 5px #212F3D double;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 25px;
    background-color: #54768e;
    margin: 20px auto;

}

.keyboard-row {
    text-align: center;
    margin: 5px;
    padding: 10PX;
}

#virtual-keyboard a {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #000000;
    padding: 12px 25px;
    font-size: 40px;
    color:#ffffff;
    text-align: center;
    margin: 20px;
    
}

#virtual-keyboard a:hover {
    text-decoration: none;
    opacity: 0.8;
}
@media screen and (max-width:640px){
    #btnvalida{
        width: 40%;
        font-size: 15px;
        padding: 5px 5px;
        margin-top: 20px;
        background-color: #2D4B73;
        color: white;
        border-radius: 5px;
    }
    
}